@{
    ViewData["Title"] = "Home Page";
}

<img src="vuelogo.png" />

<h5>This message is from from the Home Page.</h5>
<h5>This is a normal MVC page that contains some HTML.</h5>
<h5>For example it could be a dashboard.</h5>
