@{
    ViewData["Title"] = "Home Page";
}

<img src="vuelogo.png" />

<h4>This message is from from the Home Page.</h4>
<h4>This is a normal MVC page that contains some HTML.</h4>
<h4>For example it could be a dashboard.</h4>
