<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultiSpaDemo</title>
</head>
<body>
    <div>This is a div from main layout</div>
    <nav>
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
            <li><a asp-area="" asp-controller="FrontDesk" asp-action="Index">Front Desk</a></li>
        </ul>
    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - MultiSpaDemo</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
